<h1>View Products Component</h1>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>NAME</th>
                <th>CATEGORY</th>
                <th>PRICE</th>
                <th>M. DATE</th>
                <th>E. DATE</th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    {{product.name}}
                </td>
                <td>
                    {{product.category}}
                </td>
                <td>
                    {{product.price}}
                </td>
                <td>
                    {{product.mDate}}
                </td>
                <td>
                    {{product.eDate}}
                </td>
            </tr>
        </tbody>
    </table>
</div>